<div align="end">
  <button (click)="newPost()">new post</button>
  <button (click)="refresh()">refresh</button>
</div>
<div *ngIf="editing">
  <div>Editing post</div>
  <div>
    <form #editPostForm="ngForm">
      <input placeholder="Title" [(ngModel)]="editedPost.title" name="title" maxLength="100" required="required"/>
      <div align="end">{{titleField.characterCount}} / 100</div>
      <input rows="3" type="Content" placeholder="Content" [(ngModel)]="editedPost.content" name="content"
             maxLength="255" required="required" />

      <div align="end">{{contentField.characterCount}} / 255</div>
    </form>
  </div>
  <div align="end">
    <button (click)="savePost(editedPost)">save</button>
    <button (click)="cancelEdit()">cancel</button>
  </div>
</div>
<div *ngFor="let post of posts" class="postcard">
  <div>{{post.title}}</div>
  <div>
    <p>{{post.content}}</p>
    <ul>
      <li>
        <p>id: {{post.id}}</p>
        <p>createdDate: {{post.createdDate | date:"dd.MM.yyyy HH:mm"}}</p>
        <p>updatedDate: {{post.createdDate | date:"dd.MM.yyyy HH:mm"}}</p>
        <p>version: {{post.version}}</p>
      </li>
    </ul>
  </div>
  <div align="end">
    <button (click)="editPost(post)">edit</button>
    <button (click)="removePost(post)">remove</button>
  </div>
</div>
