<div class="sidenav-layout">

  <div>
    <div class="navigation">
      <template ngFor let-view [ngForOf]="views">
        <a routerLinkActive="active" [routerLink]="view.link"
           [hidden]="!authService.canView(view)">
          <div>{{view.icon}}</div>
          <span> {{view.name}}</span>
          <span> {{view.description}}</span>
        </a>
      </template>
    </div>
  </div>

  <div class="main-content">
    <div >
      <button>
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"/>
        </svg>
      </button>
      <span>{{ name }}</span>
      <span class="fill"></span>
      <span class="user-info" *ngIf="authService.isAuthenticated()">Current user: {{ authService.getUserData().user_name }}</span>
      <a  routerLinkActive="active" [routerLink]="['login']"
         [hidden]="authService.isAuthenticated()">Login</a>
      <button  (click)="logMeOut()" [hidden]="!authService.isAuthenticated()">Logout
      </button>

      <button  (click)="authService.refreshToken()" [hidden]="true">Refresh token
      </button>

    </div>

    <router-outlet></router-outlet>

  </div>

  <div class="footer" >
    <div>
      <img src="/assets/img/angular-logo.png">
      <div>{{ name }}</div>
      <div><a [href]="url">by Shardis</a></div>
    </div>
  </div>

</div>

