<clr-main-container>
  <div class="alert alert-app-level">
    <div class="alert-item">
                  <span class="alert-text">
                      This alert is at the top of the page.
                  </span>
    </div>
  </div>
  <clr-header class="header-6">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <span class="fa fa-cubes fw fa-2x" aria-hidden="true"></span>
        <span class="title">Shardis</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a href="javascript://" class="active nav-link"><span class="nav-text">Home</span></a>
      <a href="javascript://" class="nav-link"><span class="nav-text">Module 1</span></a>
      <a href="javascript://" class="nav-link"><span class="nav-text">Module 2</span></a>
      <a href="javascript://" class="nav-link"><span class="nav-text">Module 3</span></a>
      <a href="javascript://" class="nav-link"><span class="nav-text"><clr-icon shape="cog"></clr-icon></span></a>
      <a href="javascript://" class="nav-link"><span class="nav-text"><clr-icon shape="share"></clr-icon></span></a>
    </div>
    <div class="header-actions">
      <a class="nav-text nav-link" routerLinkActive="active" [routerLink]="['login']"
         [hidden]="authService.isAuthenticated()">
        <span>Log in</span>
      </a>
      <clr-dropdown [clrMenuPosition]="'bottom-right'" *ngIf="authService.isAuthenticated()">
        <button class="nav-text" clrDropdownToggle>
          <span>{{ authService.getUserData().sub }}</span>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <div class="dropdown-menu">
          <a href="javascript://" clrDropdownItem>Preferences</a>
          <a (click)="logMeOut()" [hidden]="!authService.isAuthenticated()" class="nav-text" clrDropdownItem>Log out</a>
        </div>
      </clr-dropdown>
    </div>
  </clr-header>
  <nav class="subnav" [clr-nav-level]="2">
    <ul class="nav">
      <li class="nav-item" *ngFor="let view of views">
        <a class="nav-link" href="javascript://"
           routerLinkActive="active" [routerLink]="view.link"
           [hidden]="!authService.canView(view)">
          {{view.name}}
        </a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer>
    <span>{{ name }}</span>
    <span><a [href]="url">by Shardis</a></span>
  </footer>
</clr-main-container>


