<clr-main-container>
  <div class="alert alert-app-level">
    <div class="alert-item">
                  <span class="alert-text">
                      This alert is at the top of the page.
                  </span>
    </div>
  </div>
  <clr-header>
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Shardis</span>
      </a>
    </div>
    <div class="header-nav">
      <a href="javascript://" class="active nav-link" href="javascript://"><span class="nav-text">Dashboard</span></a>
      <a href="javascript://" class="nav-link" href="javascript://"><span class="nav-text">Interactive Analytics</span></a>
    </div>
    <div class="header-actions">
      <a href="javascript://" class="nav-text nav-link" *ngIf="authService.isAuthenticated()">Current user: {{ authService.getUserData().sub }}</a>
      <a href="javascript://" routerLinkActive="active" [routerLink]="['login']" [hidden]="authService.isAuthenticated()"
         class="nav-link nav-text">Login</a>
      <a (click)="logMeOut()" [hidden]="!authService.isAuthenticated()" class="nav-link nav-text">Logout</a>
      <clr-dropdown class="dropdown bottom-right">
        <button class="nav-icon" clrDropdownToggle>
          <clr-icon shape="user"></clr-icon>
          <clr-icon shape="caret" class="icon-orient-down"></clr-icon>
        </button>
        <div class="dropdown-menu">
          <a href="javascript://" clrDropdownItem>About</a>
          <a href="javascript://" clrDropdownItem>Preferences</a>
          <a href="javascript://" clrDropdownItem>Log out</a>
        </div>
      </clr-dropdown>
    </div>
  </clr-header>
  <nav class="sub-nav" [clr-nav-level]="1">
    <ul class="nav">
      <template ngFor let-view [ngForOf]="views">
        <li class="nav-item">
          <a class="nav-link" href="#"
             routerLinkActive="active" [routerLink]="view.link"
             [hidden]="!authService.canView(view)">
            {{view.name}}
          </a>
        </li>
      </template>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer>
    <span>{{ name }}</span>
    <span><a [href]="url">by Shardis</a></span>
  </footer>
</clr-main-container>


